[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
openfoodfacts = {git = "https://github.com/openfoodfacts/openfoodfacts-python"}
records = {extras = ["pandas"],version = "*"}
pymysql = "*"

[requires]
python_version = "3.7"
